<%= form_with model: @profile do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :age %><br>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :bio %><br>
    <%= form.text_area :bio, placeholder: "Tell us about yourself" %>
  </div>

  <div>
    Addresses:
    <ul>
      <%= form.fields_for :addresses do |addresses_form| %>
        <li>
          <%= addresses_form.label :street %>
          <%= addresses_form.text_field :street %>

          <%= addresses_form.label :city %>
          <%= addresses_form.text_field :city %>

          <%= addresses_form.label :state %>

          <%= addresses_form.text_field :state %>
          <%= addresses_form.label :postcode %>
          <%= addresses_form.number_field :postcode %>

          <%= addresses_form.check_box :_destroy %>
        </li>
      <% end %>
    </ul>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
