<%= stylesheet_link_tag 'profiles/nav', media: 'all', 'data-turbolinks-track': 'reload' %>

<ul class="nav">
  <li class="nav-item">
    <%= link_to "Profiles", profiles_path %>
  </li>
  <li class="nav-item">
    <%= link_to "Edit", edit_profile_path(@profile) %>
  </li>
  <li class="nav-item"><%= link_to 'Delete', profile_path(@profile),
    method: :delete,
    data: { confirm: 'Are you sure?' } 
  %></li>
</ul>

<hr />

<h1><%= @profile.name %></h1>
<h3>Age: <%= @profile.age %></h3>
<p>Bio: <%= @profile.bio %></p>

<% if @profile.addresses.length > 0 %>
  <h2>Addresses</h2>
  <ul>
  <% @profile.addresses.each do |address| %>
    <li>
      <%= "#{address.street}, #{address.city}, #{address.state}, #{address.postcode}"  %>
    </li>
  <% end %>
  </ul>
<% else %>
  <h2>No Address</h2>
<% end %>

